/** Recent Posts **/
.widget {
    clear: both;
}
.widget_recent_entries ul li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.widget_recent_entries ul li a {
    font-family: 'CircularStdmed';
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    color: #3e3e3e;
}

.widget_recent_entries ul li:hover a {
    color: #FF3A46;
}

/** === Sidebar ul widgets === ***/
.theme-sidebar-widget .widget_nav_menu ul,
.theme-sidebar-widget .widget_pages ul,
.theme-sidebar-widget .widget_pages ul,
.theme-sidebar-widget .widget_meta ul,
.theme-sidebar-widget .widget_archive ul,
.theme-sidebar-widget .widget_categories ul {
    margin-top: -17px;
}

.theme-sidebar-widget .widget_nav_menu li a,
.theme-sidebar-widget .widget_pages li a,
.theme-sidebar-widget .widget_meta li a,
.theme-sidebar-widget .widget_archive li a,
.theme-sidebar-widget .widget_categories li a {
    border-bottom: 1px solid #eaeaea;
    line-height: 56px;
    display: block;
    position: relative;
    font-size: 18px;
    color: #4e4e4e;
}

.theme-sidebar-widget .widget_archive li a span,
.theme-sidebar-widget .widget_categories li a span {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 50px;
}

.theme-sidebar-widget ul ul.sub-menu,
.theme-sidebar-widget ul ul.children {
    padding-top: 10px;
}

.theme-sidebar-widget .widget select {
    margin-top: 15px;
}

.widget_recent_entries span.post-date {
    font-size: 18px;
    color: #b5b5b5;
    display: block;
}

/** =============
* Footer Widgets
* ==============+ */
.top-footer .widget {
    margin-top: 50px;
}

.top-footer .widget:nth-child(1),
.top-footer .widget:nth-child(2),
.top-footer .widget:nth-child(3),
.top-footer .widget:nth-child(4) {
    margin-top: 0;
}

.top-footer .widget_nav_menu ul,
.top-footer .widget_pages ul,
.top-footer .widget_pages ul,
.top-footer .widget_meta ul,
.top-footer .widget_archive ul,
.top-footer .widget_categories ul {
    margin-top: -4px;
}

.top-footer .widget_calendar td,
.top-footer .widget_calendar th {
    padding: 8px;
}

.top-footer .widget_tag_cloud h5.title {
    padding-bottom: 35px;
}

/** === Footer ul Widgets === **/
.top-footer .widget_nav_menu li a,
.top-footer .widget_pages li a,
.top-footer .widget_meta li a,
.top-footer .widget_archive li a,
.top-footer .widget_categories li a {
    display: block;
    line-height: 38px;
    font-size: 17px;
    color: #76797e;
}

.top-footer .widget_archive li a span,
.top-footer .widget_categories li a span {
    padding-left: 10px;
}

.top-footer .widget_nav_menu a.nav-link {
    padding-left: 0;
}

.top-footer .widget_recent_entries ul li{
    padding-bottom: 5px;
}

/** === Global Widgets === **/
.widget_rss ul li a.rsswidget:hover,
.widget_nav_menu li a:hover,
.widget_meta li a:hover,
.widget_pages li a:hover,
.widget_archive li a:hover,
.widget_categories li a:hover {
    color: #FF3A46;
}

.widget_rss>ul {
    margin-top: -25px;
}

.widget_calendar .calendar_wrap {
    margin-top: 5px;
}

.top-footer .widget select {
    margin-top: 10px;
}

    /** === Tag Cloud === **/
ul.wp-tag-cloud {
    display: flex;
    flex-wrap: wrap;
}
.wp-tag-cloud li {
    padding: 0 5px;
    margin-bottom: 15px;
}

.wp-tag-cloud li a {
    font-size: 15px;
    text-transform: uppercase;
    color: #989ca2;
    padding: 0 20px;
    line-height: 33px;
    border: 1px solid #e0e0e0;
    transition: all .3s ease-in-out;
}

.theme-sidebar-widget .wp-tag-cloud li a:hover {
    color: #fff;
    background: #FF3A46;
}

/**
 * Footer Widgets
 * List Style widget
 **/
.theme-footer-one .top-footer .widget_nav_menu ul li a {
    display: block;
    line-height: 38px;
    font-size: 17px;
    color: #76797e;
}

.theme-footer-one .top-footer .widget_nav_menu ul li a {
    transition: all .3s ease-in-out;
}

.theme-footer-one .top-footer .widget_nav_menu ul li a:hover {
    color: #FF3A46;
}

/** === Default Widgets === **/
.widget_recent_comments #recentcomments {
    padding: 0px;
    list-style: none;
    margin-bottom: 0;
}

.widget_recent_comments #recentcomments .recentcomments:not(:last-child) {
    margin-bottom: 15px;
}

.widget_recent_comments #recentcomments .recentcomments:not(:last-child) {
    margin-bottom: 20px;
}
.widget_recent_comments #recentcomments .recentcomments {
    padding-left: 70px;
    font-weight: 400;
}
.widget_recent_comments #recentcomments .recentcomments {
    position: relative;
    padding-left: 55px;
    font-size: 15px;
    line-height: 26px;
    color: #282835;
    font-family: "CircularStd-book", sans-serif;
    min-height: 46px;
}

.widget_recent_comments #recentcomments .recentcomments:before {
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    top: 0;
}

.widget_recent_comments #recentcomments .recentcomments:before {
    content: "\f075";
    font-family: 'font-awesome';
    border: 1px solid #4e4e4e;
    text-align: center;
    line-height: 38px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #4e4e4e;
    -webkit-transition: background 0.3s linear, color 0.3s linear;
    -o-transition: background 0.3s linear, color 0.3s linear;
    transition: background 0.3s linear, color 0.3s linear;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.widget_recent_comments #recentcomments .recentcomments .comment-author-link {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #848ca5;
}

.widget_recent_comments #recentcomments .recentcomments a {
    color: #282835;
}

ul li.recentcomments>a {
    padding-left: 0;
    line-height: normal;
}

.widget_recent_comments #recentcomments .recentcomments a:hover {
    color: #FF3A46;
}

.widget_recent_comments #recentcomments .recentcomments a:hover {
    color: #FF3A46;
}