@media (max-width: 782px) {
    .admin-bar .theme-main-menu {
        margin-top: 46px;
    }
}
@media (max-width: 1460px) {
    .theme-menu-one.d-align-item #mega-menu-holder {
        margin-right: 0;
    }
    .text_logo .theme-menu-one.d-align-item .logo {
        left: 50px;
        top: 35px;
    }
    .navbar .dropdown:last-child > .dropdown-menu ul.second_depth_dropdown.dropdown-menu,
    .navbar .dropdown:nth-last-child(2) > .dropdown-menu ul.second_depth_dropdown.dropdown-menu {
        right: 100% !important;
        left: auto;
    }
}
@media (max-width: 1300px) {
    .text_logo .theme-menu-one.d-align-item .logo {
        top: 35px;
        left: 20px;
    }
    .theme-menu-one.d-align-item .navbar-nav .nav-item .nav-link {
        margin: 0 15px;
    }
}
@media (max-width: 1200px) {
    .theme-menu-one.d-align-item #mega-menu-holder {
        padding: 0;
    }
    .text_logo .theme-menu-one.d-align-item .logo {
        left: 15px;
    }
    .text_logo .theme-menu-one.d-align-item .logo h3 {
        font-size: 30px;
    }
    .text_logo .theme-menu-one.d-align-item .logo {
        top: 40px;
    }
}
@media (max-width: 1120px) {
    .text_logo .theme-menu-one.d-align-item .logo h3 {
        font-size: 25px;
    }
    .text_logo .theme-menu-one.d-align-item .logo {
        top: 45px;
    }
    .theme-menu-one.d-align-item .navbar-nav .nav-item .nav-link {
        margin: 0 10px;
    }
}

@media ( min-width: 991px ) {
    .theme-sidebar-widget {
        padding-left: 20px;
    }

}
@media ( max-width: 991px ) {
    .theme-menu-one .contact-us, .shrt-menu .contact-us {
        margin-left: 120px;
    }
    .text_logo .theme-menu-one.d-align-item .logo {
        top: 20px;
    }
    .theme-menu-one.d-align-item #mega-menu-holder {
        padding: .5rem 1rem;
    }
    .theme-menu-one.d-align-item #mega-menu-holder {
        padding: 1rem;
    }
    .menu_action_btn.header5_btn {
        margin: 20px 10px;
    }
}

@media (max-width: 767px) {
    .user-comment-area .single-comment .user-comment-data {
        padding-left: 0;
        clear: both;
    }
    .user-comment-area .single-comment .user-comment-data {
        padding: 25px 0 0;
    }
    .blog-details .user-comment-area .single-comment.comment-reply {
        margin-left: 50px;
    }
    .pb-150 {
        padding-top: 100px;
    }
    .theme-title-one .main-title, .agn-contact-banner .title, #theme-banner-four .main-wrapper .main-title,
    #theme-banner-five .main-title, .theme-title-three .title, .project-with-sidebar .page-title,
    .project-details .project-title-two, .blog-filter-title .main-title, .project-details .project-title-one,
    .our-service .service-block .service-title, .theme-action-banner-two .title {
        font-size: 38px;
        line-height: 46px;
    }
}


@media screen and (min-width: 992px) {
    .navbar .dropdown > .dropdown-menu {
        min-width: 150px;
        right: auto;
    }
    .navbar .dropdown-menu .dropdown-item {
        padding-right: 20px;
    }
}