.redux-container #redux-header .display_header .redux-dev-mode-notice-container,
li#menu-posts-none, .rAds,
div#job_locationdiv, div#job_typediv {
    display: none !important;
}

/** === One Click Demo Importer === **/
@media (min-width: 1120px) {
    .ocdi__gl-item {
        width: calc(25% - 30px);
        margin: 0 30px 30px 0;
    }
}

.ocdi_custom-intro-text.notice.notice-info.inline {
    padding: 15px 20px;
    line-height: 1.5;
}

/** === Redux Framework Theme Settings === **/
.redux-container {
    max-width: 1200px;
}
.redux-container-image_select .redux-image-select img {
    opacity: .4;
}

.redux-container-image_select .redux-image-select.redux-image-select-selected img {
    opacity: 1;
}

.redux-container .form-table>tbody>tr>th {
    width: 40% !important;
}

.redux-container .redux_field_th {
    padding: 20px 50px 20px 0;
}

.redux-container .redux-group-tab {
    padding: 10px 30px 0 20px;
}

.redux-container {
    max-width: 1200px;
}

.redux-notice-field {
    display: flex;
}

.redux-notice-field.redux-success {
    border: 1px solid #e9e6f5;
    position: relative;
    margin-bottom: 30px;
}

.redux-notice-field {
    padding: 20px !important;
}

.redux-notice-field.redux-success:before {
    content: "";
    background: #0073aa;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.redux-notice-field.redux-success .redux-info-icon {
    background: #ebfcff;
    border-color: #aee9f3;
    color: #49cbe1;
}

.redux-notice-field .redux-info-icon {
    width: 56px;
    height: 56px;
    border: 1px solid #e9e6f5;
    background: #f9f8fc;
    border-radius: 50%;
    margin-right: 20px;
}

.redux-notice-field .redux-info-desc {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 0;
}

.redux-notice-field .redux-info-icon i {
    text-align: center;
    line-height: 56px;
    font-size: 22px;
    color: #49cbe1;
}

/** === Redux framework warning notice === **/
.redux-notice-field.redux-warning {
    border-left: 4px solid #ff9800;
}

.redux-notice-field.redux-warning .redux-info-icon i {
    color: #ff9800;
}

.redux-notice-field .redux-info-desc {
    padding-top: 10px;
}