b, strong {
    font-weight: 500;
}

a {
    color: #000
}

.blog-details .post-data h1,
.blog-details .post-data h2,
.blog-details .post-data h3,
.blog-details .post-data h4,
.blog-details .post-data h6,
.page .blog-details h1,
.page .blog-details h2,
.page .blog-details h3,
.page .blog-details h4,
.page .blog-details h5,
.page .blog-details h6,
.user-comment-data h1,
.user-comment-data h2,
.user-comment-data h3,
.user-comment-data h4,
.user-comment-data h5,
.user-comment-data h6 {
    margin-bottom: 15px;
}

.comment_inner .comment_box .post_comment .post_author_two p {
    padding-bottom: 20px;
    padding-top: 0;
}

.blog_single_area img,
img.aligncenter {
    max-width: 100%;
}

img.attachment-full.size-full {
    width: auto;
}

.sticky .col-sm-6 {
    display: block;
    background: #eee
}

.hentry {
    margin: 0 0 1.5em
}

.byline,
.updated:not(.published) {
    display: none
}

.single .byline,
.group-blog .byline {
    display: inline
}

.comment-content a {
    word-wrap: break-word
}

.bypostauthor {
    display: block
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none
}

.infinity-end.neverending .site-footer {
    display: block
}

embed,
iframe,
object {
    max-width: 100%
}

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%
}

.wp-caption .wp-caption-text {
    margin: .5em 0;
    font-size: 14px
}

.wp-caption-text {
    text-align: center
}

.gallery {
    margin-bottom: 1.5em
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.gallery-columns-2 .gallery-item {
    max-width: 50%
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}

.gallery-caption {
    color: #707070;
    color: rgba(51, 51, 51, .7);
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: .5em 0;
}

.gallery {
    width: 100%
}

figure.gallery-item {
    margin-bottom: 10px;
    display: inline-block
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

#content[tabindex="-1"]:focus {
    outline: 0
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 10px
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-right: 1em;
    margin-bottom: 10px
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.clear:before,
.clear:after,
.guten_elements:before,
.guten_elements:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed
}

.clear:after,
.guten_elements:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both
}

.post-content img {
    max-width: 100%;
    height: auto
}

.media-left img {
    max-width: none
}

pre {
    background: #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word
}

dl {
    margin: 15px 0;
}

dl dd {
    padding-left: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

.page table,
.post-data table {
    margin: 20px 0;
}

th {
    font-weight: 500;
    text-align: left;
    padding-right: 10px!important
}

td,
th {
    border-top: 1px solid #ededed;
    padding: 15px;
}

tr th:first-child,
tr td:first-child {
    padding-left: 0 !important;
}

tr th:last-child,
tr td:last-child {
    padding-right: 0 !important;
}

tfoot td {
    padding-bottom: 0;
}

input[type="text"] {
    border: 1px solid #ebebeb;
    width: 100%;
    max-width: 100%;
    color: #989ca2;
    background: transparent;
    height: 60px;
    padding: 0 25px;
}

input:focus {
    border-color: #545454;
}

input[type="submit"] {
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    padding: 0 40px;
    position: relative;
    z-index: 1;
    background: #FF3A46;
    cursor: pointer;
    width: auto;
}

/** === Widget Styles === */
.widget img {
    max-width: 100%;
    height: auto
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.widget select {
    width: 100% !important;
    height: 40px;
    color: #8C8C8C;
    margin: 0 auto;
    display: table;
    margin-bottom: 10px;
    background: #fff;
    padding: 0 5px;
}

.widget ul li:last-child {
    margin-bottom: 0;
}

.widget_rss cite,
.widget_rss .rssSummary {
    font-weight: 400;
}

.widget_rss cite {
    color: #999;
    font-weight: 500;
}

.textwidget p {
    font-weight: 400;
    line-height: 1.9em;
}


li.recentcomments {
    line-height: 2
}

ul li.recentcomments>a {
    padding-left: 0;
    line-height: normal
}

#wp-calendar {
    width: 100%
}

.calendar_wrap td#next {
    text-align: right;
}

#wp-calendar caption {
    caption-side: top;
    padding-top: 0;
}

img.alignnone.wp-image-907 {
    height: auto;
    width: 100%
}

/********************** Page Links ************************/
.page-links {
    clear: both;
    padding-top: 1em;
}

.page-links>.page-links-title {
    border: 0;
    color: #4c5267;
    height: auto;
    margin: 0;
    padding-right: .5em;
    width: auto
}

@media screen and (min-width:77.5em) {
    .page-links a,
    .page-links>span {
        margin: 0 .25em .25em 0
    }
}

@media screen and (min-width:77.5em) {
    .page-links a,
    .page-links>span {
        margin: 0 .25em .25em 0
    }
}

.page-links a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .3);
    background-color: #333;
    border-color: #333;
    color: #fff
}

.page-links a,
.page-links>span {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, .1);
    display: inline-block;
    font-size: 14px;
    height: 1.7em;
    line-height: 1.5em;
    margin: 0 .3333em .3333em 0;
    text-align: center;
    width: 1.7em;
}

.sticky {
    background: #f9f9f9;
}

input.search-field {
    width: 95%;
    height: 40px;
    background: #f7f7f7
}

input.search-submit {
    width: 60px;
    height: 40px;
    background: transparent;
    padding: 5px;
    font-size: 14px!important;
    margin-left: -12px;
    margin-top: -1px
}

.widgets ul {
    margin: 0;
    padding: 0
}

.sidebar_widgets h3 {
    font-weight: 600;
    margin-bottom: 38px;
    font-size: 26px
}

.widget_rss ul li {
    margin-top: 25px;
    line-height: 1.8;
}

.widgets img {
    height: auto
}

.widget_title_two a.rsswidget {
    font-size: 20px;
    font-weight: 600;
    color: #282835;
    margin-bottom: 30px;
}

.widget_rss ul li a.rsswidget {
    font-weight: 600;
    color: #666;
    line-height: 1.3em;
}

.rsswidget img.rss-widget-icon {
    padding-bottom: 3px;
    margin-right: 5px;
}

.widget ul ul {
    margin-left: 15px;
    margin-top: 0;
}

.post_tag_info {
    clear: both
}

.post .featured_post {
    padding: 5px 10px;
    background: gray;
    display: inline-block;
    color: #fff
}

.blog-section .blog-items .blog-content h2 {
    margin: 0
}

.widget_rss span.rss-date {
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
    color: #999;
}

.widget_nav_menu .menu li {
    margin-right: 0
}

.textwidget strong {
    font-weight: bold;
}

.widget p:empty {
    display: none;
}

/** Elementor reset CSS **/
.elementor-widget:not(:last-child) {
    margin-bottom: 0 !important;
}

.pb-50 {
    padding-bottom: 50px;
}