
h5.modal-title{
    font-size: 15px;
    font-weight: 600;
}

.close{
    color: #FFB800;
    opacity: 1;
}

.modal-body .form-group-text a{
    color: #FFB800;
    font-size: 15px;
    font-weight: 600;
}

.modal-dialog{
    max-width: 800px;
}

.modal-body{
    padding-top: 35px;
    padding-bottom: 35px;
}