body,html {
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;;
}

a, :hover, :visited, :link, :focus, :active, :focus-within{
    outline: none;
}

button:focus { outline: none; }

.btn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
    padding: 10px 0;
    text-decoration: none;
    width: 200px;
    text-align: center;
    transition: all 0.5s;
}

.btn:hover{
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.btn span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-yellow span i{
    position: absolute;
    opacity: 0;
    top: 4px;
    right: -20px;
    transition: 0.5s;
}

.btn-grey span i{
    position: absolute;
    opacity: 0;
    top: 4px;
    left: -20px;
    transition: 0.5s;
}

.btn-yellow{
    background-color: #FFB800;
}
.btn-grey{
    background-color: #E5E5E5;
}

.btn-yellow:hover span {
    padding-right: 25px;
}

.btn-grey:hover span{
    padding-left: 25px;
}
  
.btn-yellow:hover span i {
    opacity: 1;
    right: 0;
}

.btn-grey:hover span i {
    opacity: 1;
    left: 0;
}

.content_col_box_heading .btn, .modal-footer .btn{
    width: 100px;
    margin-left: 10px;
}

#dashboard-section.container .content_col_box_heading .btn{
    width: 180px;
}

#createproject-section.container, #dashboard-section.container, #login-section.container{
    max-width: 1420px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#login-section.container{
    max-width: 600px;
}

#dashboard-section .content_col_box_heading h2{
    margin: 12px 0 8px 0;
}

#headarea.container{
    max-width: 1420px;
}

nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

nav ul li{
    height: 47px;
    line-height: 44px;
}

nav ul li a{
    display: block;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 3px solid transparent;
}

nav ul li a span{
    font-weight: 600;
    font-size: 20px;
    color: #000;
    position: relative;
    padding-left: 50px;
    transition: 0.5s;
}

nav ul li a span i{
    position: absolute;
    top:2px;
    left:10px;
    transition: 0.5s;
}

nav ul li a:hover span, nav ul li a.active span{
    padding-left: 43px;
    color: #FFB800;
}

nav ul li a:hover span i, nav ul li a.active span i{
    left:15px;
    color: #FFB800;
}

nav ul li a:hover{
    text-decoration: none;
}

nav ul li a.active{
    border-top: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    border-right: 3px solid #FFB800;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.30);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.30);
    background: #fafafa; 
    background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 49%, #fafafa 100%); 
    background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 49%,#fafafa 100%); 
    background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 49%,#fafafa 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); 
}

.content_col_box{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
    border: 1px solid #E9E9E9;
    margin-bottom: 20px;
}

.content_col_box_heading{
    padding: 20px;
    /*background-color: #FAFAFA;*/
    border-bottom: 1px solid #E9E9E9;
    background: #fafafa; 
    background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 49%, #fafafa 100%); 
    background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 49%,#fafafa 100%); 
    background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 49%,#fafafa 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); 
}

.content_col_box_container{
    padding: 20px;
    background-color: #fff;;
}

.content_col_box_heading h2{
    font-weight: 600;
    color: #000;
    font-size: 20px;
    margin:0;
}
.content_col_box_heading p{
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin:0;
}

.form-group{
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.form-group.no-border{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.form-group-label{
    font-weight: 600;
    font-size: 15px;
    color: #000;
    margin-bottom: 5px;
}

.form-group-label label{
    margin-bottom: 0px;
}

.form-group-tag{
    margin-bottom: 10px;
}

.form-group-tag input[type=text], .form-group-tag textarea, .form-group-tag input[type=password]{
    border: 1px solid #E5E5E5;
    background-color: #FAFAFA;
    color: #000;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.form-group-tag textarea{
    min-height: 170px;
}

.form-group-tag input[type=text]:focus, .form-group-tag textarea:focus, .form-control:focus, .form-group-tag input[type=password]:focus{
    box-shadow: none;
    border: 1px solid #E5E5E5;
    background-color: #FAFAFA;
}

.form-group-tag span{
    text-align: right;
    color: #000;
    font-weight: 300;
    font-size: 15px;
    display: block;
}

.form-group-text{
    margin-bottom: 10px;
}

.form-group-text p{
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin-bottom: 7px;
}

.form-group-text ul{
    padding: 0 0 0 25px;
    margin-bottom: 0px;
}

.form-group-text ul li{
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin-bottom: 5px;
}

label.form-field-radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    font-weight: 300;
}

label.form-field-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #fafafa;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    transition: all .5s;
}

label.form-field-radio:hover input ~ .checkmark:after {
    opacity: 0.5;
}

label.form-field-radio input:checked ~ .checkmark:after {
    opacity: 1;
}

label.form-field-radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFB800;
}

.popup-btn-c{
    padding-left: 35px;
    margin-bottom: 20px;
    margin-top: 12px;
}

a.popup-btn{
    display: inline-block;
    color: #000;
    font-size: 15px;
    font-weight: 300;
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}

a.popup-btn:hover{
    text-decoration: none;
    background-color: #F2F2F2;
}

.upload-box{
    width: 100%;
    height: 133px;
    border: 2px dashed #E5E5E5;
    background-color: #FAFAFA;
    position: relative;
}

.upload-box p{
    font-size: 15px;
    color: #000;
    font-weight: 300;
    text-align: center;
    height: 133px;
    line-height: 133px;
}

.upload-box input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.upload-box a{
    color: #FFB800;
}

.form-group-label label em{
    font-style: normal;
    color: #FFB800;
}

.mar-bot-25{
    margin-bottom: 25px !important;
}

.form-group-label label + a{
    color: #FFB800;
}
.form-group-label label + a:hover{
    text-decoration: none;
}

.select2-container--default .select2-selection--single{
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 15px;
    color: #000;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
    top: 1px;
    right: 10px;
}
.select2-results__option{
    font-size: 15px;
    color:#000;
    font-weight: 300;
}
.form-group-tag .row{
    padding-left:15px;
    padding-right:15px;
}

.form-group-tag .row .col-6, .form-group-tag .row .col-3{
    padding:0;
}

.form-group-tag .row .col-6 input{
    max-width: 99%;
    display: inline-block;
}

.input-group.date .input-group-addon {
    cursor: pointer;
    color: #FFB800;
    font-size: 20px;
    display: block;
    position: absolute;
    right: 12px;
    top: 4px;
    z-index: 5;
}

.datepicker{
    font-size: 12px;
}

.input-group > .form-control:not(:last-child){
    border-radius: 5px !important;
}

.modal-header, .modal-footer{
    background: #fafafa; 
    background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 49%, #fafafa 100%); 
    background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 49%,#fafafa 100%); 
    background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 49%,#fafafa 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); 
}

.inp-bg-btn{
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    vertical-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    height: 160px;
    cursor: pointer;
    max-width: 97%;
    transition: all 0.5s;
}

.inp-bg-btn:hover, .inp-bg-btn.active{
    -webkit-box-shadow: 0px 0px 4px 0px rgba(255, 184, 0,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(255, 184, 0,1);
    box-shadow: 0px 0px 4px 0px rgba(255, 184, 0,1);
}

.content_col_box{
    display: none;
}

.content_col_box.active_tab{
    display: block;
}

.project-box-head .col, .task-box-head .col{
    font-weight: 700;
}

.project-box, .task-box{
    border-bottom: 1px solid #eee;
}

.project-box .col, .task-box .col{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

a.action-link-edit{
    font-size: 14px;
    color: #08b200;
    text-decoration: none;
}

a.action-link-delete{
    font-size: 14px;
    color: #bf0000;
    text-decoration: none;
}

a.action-link-view{
    font-size: 14px;
    color: #022ece;
    text-decoration: none;
}

.project-box-status span{
    opacity: 0.3;
}

span.specialty_val{
    display: inline !important;
}

nav.mb-1{
    background: #f2f2f2; 
    border-bottom: 1px solid #E9E9E9;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .show > .nav-link{
    color: #000;
    cursor: pointer;
}

.nav-link{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


#login-section input[type=submit]{
    margin-top: 20px;
    background-color: #FFB800;
    width: 100%;
    height: auto;
}

.alert{
    font-size: 13px;
    letter-spacing: 1.5px;
}

.form-group-text p.text-bold{
    font-weight: bold;
    opacity: 0.5;
}

.form-group-label h4{
    font-size: 21px;
    font-weight: 600;
}

.project-box.ppending, .project-box.approved{
    background-color: #f4f2f2;
    pointer-events: none;
}

.project-box.approved2{
    background-color: #d7f4db;
}
.card-title {
    font-size: 15px;
}
.card-text{
    font-size: 25px;
    font-weight: bold;
}

.task-box a{
    color: #FFB800;
}
.task-box a:hover{
    text-decoration: none;
}
.user-activity-text em{
    font-weight: 700;
    color: #FFB800;
    font-style: normal;
}
.user-activity-text span{
    font-size: 10px;
}

@media only screen and (max-width: 767px) {
    
}