/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStdblck';
  src: url( '../fonts/CircularStd-Black.eot' );
  src: url( '../fonts/CircularStd-Black.eot?#iefix' ) format( 'embedded-opentype' ), url( '../fonts/CircularStd-Black.woff' ) format( 'woff' ), url( '../fonts/CircularStd-Black.ttf' ) format( 'truetype' ), url( '../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd' ) format( 'svg' );
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStdbld';
  src: url( '../fonts/CircularStd-Bold.eot' );
  src: url( '../fonts/CircularStd-Bold.eot?#iefix' ) format( 'embedded-opentype' ), url( '../fonts/CircularStd-Bold.woff' ) format( 'woff' ), url( '../fonts/CircularStd-Bold.ttf' ) format( 'truetype' ), url( '../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd' ) format( 'svg' );
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStdmed';
  src: url( '../fonts/CircularStd-Medium.eot' );
  src: url( '../fonts/CircularStd-Medium.eot?#iefix' ) format( 'embedded-opentype' ), url( '../fonts/CircularStd-Medium.woff' ) format( 'woff' ), url( '../fonts/CircularStd-Medium.ttf' ) format( 'truetype' ), url( '../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd' ) format( 'svg' );
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-book';
  src: url( '../fonts/CircularStd-Book.eot' );
  src: url( '../fonts/CircularStd-Book.eot?#iefix' ) format( 'embedded-opentype' ), url( '../fonts/CircularStd-Book.woff' ) format( 'woff' ), url( '../fonts/CircularStd-Book.ttf' ) format( 'truetype' ), url( '../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd' ) format( 'svg' );
  font-weight: 400;
  font-style: normal;
}

