/*
Theme Name: rogan Child
Template: rogan
*/

#theme-banner-three .main-title {
    font-size: 100px;
}

#theme-banner-three .main-title span {
    line-height: 130px;
}

#theme-banner-three .main-title span b {
    font-size: 70px;
}

.section-portfo .section-num {
    display: none;
}


.theme-title-two h2::first-letter {
    text-transform: uppercase;
    font-size: 300px;
    text-shadow: 2px -0.9px 0px rgba(225, 163, 76, 1);
    color:#E1A34C;
    padding-right: 15px;
}

.theme-title-two.sml-head h2{
    font-size: 120px !important;
}

#how-it-works ol li{
    margin-bottom: 20px;
}

#how-it-works ol li p{
    display: inline;
    line-height: 50px;
    font-size: 40px;
}

#how-it-works ol li::before{
    color: #e1a34c;
    font-size: 40px;
}

#how-it-works .theme-title-one{
    display: none;
}

.portfo-testimonial.section-portfo{
    padding-bottom: 30px;
}

.our-service-portfo .service-block .title a{
    margin: 28px 28px 25px 0;
}

.our-service-portfo .service-block .read-more{
    display: none;
}

.our-service-portfo .service-block{
    min-height: 331px;
}

.theme-title-two::first-letter{
    color: #e1a34c;
}

.theme-footer-one .bottom-footer p {
    float: right;
}