/*
Theme Name: Rogan
Theme URI: http://wordpress.creativegigs.net/rogan/
Author: CreativeGigs
Author URI: https://themeforest.net/user/creativegigs
Description: Rogan is a powerful, beautiful and pixel-perfect multi-purpose WordPress theme. Featuring stunning plugins, ideas and designs for a modern website.
Version: 1.5.7
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: rogan
*/

/***
********************** Reset CSS ***********************/
.user-comment-area .single-comment .user-comment-data p,
.our-blog .post-data p,
body {
    color: #6A6C72;
}

a:hover {
    color: #FF3A46;
}

.admin-bar .theme-main-menu {
    margin-top: 32px;
}

.about-me-portfo .inner-content .button-group li .hire-btn {
    padding-left: 35px;
    padding-right: 35px;
}

.blog-details .post-data blockquote.wp-block-quote,
.blog-details .post-data blockquote,
blockquote {
    margin: 42px 0 60px;
    position: relative;
    padding-left: 90px;
}

.blog-details .post-data blockquote.wp-block-quote h1,
.blog-details .post-data blockquote.wp-block-quote h2,
.blog-details .post-data blockquote.wp-block-quote h3,
.blog-details .post-data blockquote.wp-block-quote h5,
.blog-details .post-data blockquote.wp-block-quote h6,
.blog-details .post-data blockquote.wp-block-quote p,
.blog-details .post-data blockquote p,
blockquote p {
    color: #3e3e3e;
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 10px;
}

blockquote:before,
.blog-details .post-data blockquote.wp-block-quote:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #3e3e3e;
    position: absolute;
    top: 17px;
    left: 0;
}

.single-blog-post.format-quote blockquote:before {
    display: none;
}

.blog-details .post-data h5 {
    font-family: 'CircularStdmed';
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 30px;
}

.blog-details .post-tag-area .tags .tag-title {
    padding-right: 10px;
    color: #3e3e3e;
}

.blog-details .post-tag-area .tags li {
    color: #989ca2;
}

.theme-menu-one .header-right-widget .call-us {
    margin-right: 40px;
}

.our-service-seo .single-block .icon {
    height: auto;
    width: 50px;
}

p.comment-form-cookies-consent {
    display: none;
}

.blog-details .user-comment-area .single-comment .reply {
    text-align: center;
    line-height: 28px;
}

.blog-details .comment-form-area form {
    padding-top: 0;
}

.our-service-portfo .service-block img {
    width: 65px;
    height: auto;
}

/************************* Single Portfolio / Project Details **********************/
.single-portfolio .pd-body h5 {
    font-size: 24px;
    text-transform: capitalize;
    color: #3e3e3e;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

.single-portfolio .pd-body h5:before {
    content: '';
    width: 28px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    background: #FF3A46;
}

.project-details .share-icon li {
    text-transform: capitalize;
}

.project-details-standard .pd-img-box img {
    height: auto;
}

.project-details-agency h6 {
    font-family: 'CircularStdmed';
    font-size: 24px;
    line-height: 35px;
    color: #3e3e3e;
    padding-bottom: 50px;
}

.our-project-portfo #isotop-gallery-wrapper .isotop-item .effect-zoe .inner-caption h2 {
    width: 75%;
    text-align: left;
}

.project-details .pd-body p {
    margin-bottom: 20px;
}

.project-details-standard .pd-img-box img {
    display: block;
    margin: auto;
}

span.wpcf7-form-control-wrap {
    width: 100%;
}

.portfo-footer form .send-button:hover {
    background: #e1a34c;
    color: #fff;
}

.portfo-footer form .send-button {
    float: right;
    margin-top: 40px;
    width: 185px;
    line-height: 48px;
    border: 1px solid #e1a34c;
    background: transparent;
    color: #e1a34c;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.portfo-footer form .send-button:hover {
    background: #e1a34c;
    color: #fff;
    cursor: pointer;
}

.theme-pagination-one ul li span.page-numbers.current {
    color: #FF3A46;
    font-size: 24px;
    line-height: 40px;
}

.project-with-sidebar .project-item .img-box a .svg {
    left: 0;
    right: 0;
    position: absolute;
}

.service-creative .service-block .img-box img {
    max-width: 385px;
    height: auto;
}

.theme-menu-one.fixed .navbar-nav .nav-item .nav-link {
    color: #64697A;
}

#google-map-two img {
    max-width: 115px;
}

.error-creative-content .inner-wrapper p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.blog-default .single-blog-post {
    position: relative;
}

.blog-default .single-blog-post p.sticky-label {
    position: absolute;
    right: 0;
    padding: 10px 25px;
    background: #FF3A46;
    color: #fff;
}

.our-blog .img-holder img {
    height: auto;
}

.user-comment-area .single-comment .user-comment-data {
    width: 100%;
}

/** === Comment Extra Style === **/
.blog-details .user-comment-area .single-comment img.avatar {
    float: left;
    margin-right: 30px;
}

.user-comment-area .comment-wrapper .single-comment .user-comment-data {
    padding-left: 90px;
}

.blog-details .user-comment-area .single-comment.comment-reply {
    border-bottom: none;
    border-top: 1px solid #e5e5e5;
    padding-bottom: 0;
}

.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-2,
.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-3,
.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-4,
.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-5,
.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-6,
.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-7,
.blog-details .user-comment-area .single-comment.comment-reply.has_comment_reply.depth-8 {
    padding-bottom: 0;
}

.blog-details .post-data img {
    height: auto;
}

/** === Contact Form === **/
p.logged-in-as a {
    font-family: 'CircularStd-book';
    font-weight: normal;
    color: #57667E;
    font-size: 17px;
    padding-bottom: 55px;
}

span.wpcf7-not-valid-tip {
    background: #FF3A46;
    color: #fff;
    position: absolute;
    top: 50px;
    font-size: 15px;
    padding: 0 15px;
    border-radius: 3px;
    box-shadow: 0px 10px 25px 0px rgba(123,147,171,0.15);
    line-height: 20px;
    font-family: 'CircularStd-book';
    font-weight: normal;
}

span.wpcf7-not-valid-tip::before {
    content: "";
    font-family: font-awesome;
    position: absolute;
    top: -13px;
    left: 5px;
    color: #FF3A46;
}

textarea + span.wpcf7-not-valid-tip {
    bottom: -10px;
    top: auto;
}

textarea + span.wpcf7-not-valid-tip::before {
    bottom: -10px;
}

/*** ==== Unit Test Fixing ==== ***/
.blog-details .post-tag-area {
    clear: both;
}

.single-service .blog-details > ol,
.user-comment-data > ol,
.blog-details .post-data > ol,
.single-service .blog-details > ul,
.user-comment-data > ul,
.page .blog-details .container > ul,
.blog-details .post-data > ul {
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.single-service .blog-details ul ul,
.page .blog-details ul ul,
.user-comment-data ul ul,
.blog-details .post-data ul ul {
    margin-top: 10px;
}

.page .blog-details ol li,
.page .blog-details ul li,
.user-comment-data ol li,
.user-comment-data ul li,
.blog-details .post-data ol li,
.blog-details .post-data ul li {
    line-height: 30px;
    padding-bottom: 14px;
}


.single-service .blog-details ul li,
.page .blog-details ul li,
.user-comment-data ul li,
.blog-details .post-data ul li {
    position: relative;
    padding-left: 22px;
}

.page .blog-details ol li:last-child,
.blog-details .post-data ol li:last-child,
.user-comment-data ol li:last-child,
.page .blog-details ul li:last-child,
.single-service .blog-details ul li:last-child,
.user-comment-data ul li:last-child,
.blog-details .post-data ul li:last-child {
    padding-bottom: 0;
}

.page .blog-details ul li:before,
.single-service .blog-details ul li:before,
.user-comment-data ul li:before,
.blog-details .post-data ul li:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    line-height: 30px;
    left: 0;
    top: 0;
    color: #6A6C72;
}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #313131;
    padding-right: 5px;
}

.project-details h3 {
    font-size: 24px;
    text-transform: capitalize;
    color: #3e3e3e;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 0;
}

.theme-menu-one.fixed .navbar-nav .nav-item:hover .nav-link,
.navbar .dropdown-menu .nav-item.active .dropdown-item,
.navbar .dropdown-menu .menu-item.active > a,
.theme-menu-one .navbar-nav .nav-item.current-menu-ancestor .nav-link {
    color: #FF3A46;
}

.user-comment-data h2 {
    margin-top: 15px;
}

/*
Alerts Messages CSS
*/
.alert.notice {
    background: #f9f8fc;
    border-color: #e9e6f5;
    color: #677294;
}
.alert {
    font-size: 16px;
    line-height: 34px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    margin-bottom: 30px;
}
.alert i {
    float: left;
    font-size: 20px;
    line-height: 32px;
    margin-right: 20px;
}
.alert .alert_close {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.alert .alert_close i {
    margin-right: 0;
}
.alert.error {
    background: #ffebeb;
    border-color: #f4bdbd;
    color: #eb4a4a;
}
.alert.warning {
    background: #fffaeb;
    border-color: #edd796;
    color: #e7b931;
}
.alert.info {
    background: #ebfcff;
    border-color: #aee9f3;
    color: #49cbe1;
}
.alert.success {
    background: #ecffeb;
    border-color: #b0efac;
    color: #4acc43;
}
.alert.message {
    background: #f5f1fd;
    border-color: #d7caf5;
    color: #8d62e3;
}
.big_alert {
    padding: 40px;
    font-size: 20px;
}
.big_alert i {
    font-size: 24px;
}
.box_alert {
    border: 1px solid #e9e6f5;
    padding: 40px;
    position: relative;
    margin-bottom: 30px;
}
.box_alert .alert_close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #677294;
    font-size: 20px;
    cursor: pointer;
}
.box_alert .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #677294;
    border: 1px solid #e9e6f5;
    background: #f9f8fc;
    border-radius: 50%;
    margin-right: 30px;
}
.box_alert.box_warning .icon {
    background: #fffaeb;
    border-color: #edd796;
    color: #e7b931;
}
.box_alert.box_success .icon {
    background: #ecffeb;
    border-color: #b0efac;
    color: #4acc43;
}
.box_alert.box_error .icon {
    background: #ffebeb;
    border-color: #f4bdbd;
    color: #eb4a4a;
}
.box_alert.box_info .icon {
    background: #ebfcff;
    border-color: #aee9f3;
    color: #49cbe1;
}
.box_alert.box_info_two .icon {
    background: #f5f1fd;
    border-color: #d7caf5;
    color: #8d62e3;
}
.box_alert .media-body h5 {
    font-size: 20px;
    line-height: 28px;
    color: #222d39;
    font-weight: 500;
    margin-bottom: 10px;
}
.box_alert .media-body p {
    font-size: 15px;
    line-height: 28px;
    color: #677294;
}

section.no-results.not-found form#searchform {
    margin-top: 50px;
    margin-right: 50px;
}

.our-blog .img-holder {
    background: transparent;
}

.blog .our-blog .img-holder img {
    height: auto;
    max-height: 700px;
    width: auto;
}

.blog-details .post-data {
    padding-top: 0;
}

.comment_closed .blog-details .post-tag-area {
    margin-bottom: 0;
}

/**** Search Form ****/
.sidebar-search {
    height: 60px;
    position: relative;
}
.sidebar-search input {
    width: 100%;
    height: 100%;
    border: 1px solid #f9f9f9;
    padding: 0 50px 0 25px;
    color: #a9a9a9;
    box-shadow: 4.994px 9.801px 25px 0px rgba(217, 224, 235, 0.4);
}
.sidebar-search button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background: #fff;
    color: #b1b1b1;
    font-size: 20px;
}

.page .user-comment-area {
    border-top: 1px solid #e5e5e5;
    margin-top: 50px;
    padding-top: 128px;
}

.user-comment-area .single-comment.pingback .user-comment-data {
    padding-left: 0;
}

.single .our-blog .img-holder,
.page .blog-details p {
    margin-bottom: 30px;
}

.theme-sidebar-widget .widget:last-child {
    margin-bottom: 0;
}

.text_logo .theme-menu-one.d-align-item .logo h3 {
    font-size: 36px;
}

.text_logo .theme-menu-one.d-align-item .logo {
    top: 40px;
}

ul#menu-all-pages li {
    list-style: none;
}

.solid-inner-banner {
    background: #fafcff;
    text-align: center;
    padding: 265px 50px 0;
}

.no_footer_widgets .theme-footer-one .bottom-footer {
    border-top: 0;
    margin-top: 12px;
}

.no_footer_widgets img.shape-two,
.no_footer_widgets .theme-footer-one .shape-one {
    display: none;
}

.no_footer_widgets .theme-footer-one.top-border {
    padding-top: 0;
}

.pt-140 {
    padding-top: 140px;
}

.pb-140 {
    padding-bottom: 140px;
}

.user-comment-area .single-comment .user-comment-data p {
    margin-bottom: 0;
}

.comment.has_comment_reply .user-comment-data {
    padding-bottom: 40px;
}

.blog-details .user-comment-area .comment.has_comment_reply {
    padding-bottom: 0;
}

p.logged-in-as {
    margin-bottom: 0 !important;
}

.blog-details .user-comment-area .single-comment {
    clear: both;
}

.theme-footer-one .top-footer .widget_nav_menu ul li a {
    padding: 0;
}

.agn-about-us .learn-more:hover {
    color: #fff;
}

.user-comment-area .single-comment.trackback .user-comment-data {
    padding-left: 0;
}

.theme-menu-one.d-align-item .navbar-nav .nav-item:hover .nav-link, .theme-menu-one.d-align-item .navbar-nav .nav-item.active .nav-link,
.theme-menu-one.d-align-item .navbar .dropdown-item:focus, .theme-menu-one.d-align-item .navbar .dropdown-item:hover,
.theme-menu-one.d-align-item .navbar .dropdown-submenu.dropdown:hover>.dropdown-item, .theme-menu-one.d-align-item .navbar .navbar-toggler,
.theme-menu-one.d-align-item .navbar .mega-dropdown-list li a:hover, .theme-menu-one.d-align-item .navbar .mega-dropdown-list li a:hover .icon {
    color: #FF3A46;
}

.theme-menu-one.d-align-item .navbar-nav .nav-item .nav-link:before {
    background-color: #FF3A46;
}

.blog-details .inner-block-title {
    margin-bottom: 0 !important;
}

.single-service .blog-details ul {
    margin-top: 25px;
}

.single-service .blog-details ul li {
    margin-bottom: 20px;
}

/** === Contact us === **/
.wpcf7-form .form-group {position: relative;margin-bottom: 22px;}
.wpcf7-form .form-group input,.wpcf7-form .form-group textarea {
  border: 1px solid #ebebeb;
  width: 100%;
  max-width: 100%;
  color: #989ca2;
  background: transparent;
}
.wpcf7-form .form-group input:focus,.wpcf7-form .form-group textarea:focus {border-color: #545454;}
.wpcf7-form .form-group ::placeholder {color: #989ca2;;opacity: 1;}
.wpcf7-form .form-group :-ms-input-placeholder {color: #989ca2;;}
.wpcf7-form .form-group ::-ms-input-placeholder {color: #989ca2;;}
.wpcf7-form .form-group input {height: 60px;padding: 0 25px;}
.wpcf7-form .form-group textarea {
  height: 190px;
  max-height: 190px;
  resize:none;
  padding: 20px 25px;
}
.wpcf7-form .form-group .help-block {
  position: absolute;
  left: 0;
  bottom: -12px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 0 15px;
  border-radius: 3px;
  box-shadow: 0px 10px 25px 0px rgba(123,147,171,0.15);
}

a.dark-button-one:hover {
    color: #fff;
}

/** === OnePage Contact Form === **/
.banner-form form input[type="text"] {
    padding: 0px;
}

.eCommerce-search input[type="text"] {
    height: auto;
}

.theme-Ecommerce-menu .right-content .cart-action-wrapper .cart-product-list .item-info .name {
    font-size: 16px;
    line-height: 1.3;
}

.theme-Ecommerce-menu .right-content .cart-action-wrapper .cart-product-list .item-info .price {
    font-size: 18px;
}

.wpcf7 .ajax-loader {
    display: none !important;
}

.page-template-elementor_canvas .elementor {
    overflow: hidden;
}

.op-testimonial-one blockquote::before {
    display: none;
}

.admin-bar.project-creative main {
    margin-top: 32px;
}

#eCommerce-carousel .inner-item-wrapper .price-tag strong > span.amount,
#eCommerce-carousel .inner-item-wrapper .price-tag ins {
    font-size: 58px;
    color: #ff4b68;
    font-weight: normal;
    margin-right: 40px;
    display: inline-block;
    animation-delay: 0.5s;
    text-decoration: none;
}

#eCommerce-carousel .inner-item-wrapper .price-tag ins {
    float: left;
}

#eCommerce-carousel .inner-item-wrapper .price-tag del {
    margin-top: 20px;
}

.hover-red a:hover {
    color: #FF3A46 !important;
}

.faq-panel {
    width: 100%;
}

.theme-menu-one.fixed.d-align-item .logo {
    top: 10px;
}

.theme-menu-one.d-align-item.fixed {
    padding-bottom: 30px;
}

/** === Image Preloader === **/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(assets/images/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px
}

.agn-our-pricing .table-wrapper .inner-table .pr-list-text {
    top: 232px;
}

.pricing-app .table-wrapper .inner-table .pr-list-text {
    top: 215px;
}

.theme-sidebar-widget .single-block:last-child {
    margin-bottom: 0;
}

ul.wp-block-gallery li,
ul.wp-block-gallery {
    padding: 0 !important;
}

ul.wp-block-gallery li::before {
    display: none !important;
}

/** === Menu Action Button === **/
.menu_action_btn {
    line-height: 48px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    margin-top: -12px;
    padding: 0 35px;
}

.menu_action_btn.header4_btn {
    background: #fef9da;
    border: 1px solid #fef9da;
    color: #ead24c;
    line-height: 50px;
    margin-left: 20px;
}

.menu_action_btn.header4_btn:hover {
    background: #f569f8;
    color: #fff;
}

.menu_action_btn.header5_btn {
    border: 1px solid #ffffff;
    color: #fff;
}

.menu_action_btn.header5_btn:hover {
    background: #fff;
    color: #614ef9;
}

#sidebar-menu ul.dropdown-menu.mega-container {
    display: none;
}

#sidebar-menu .dropdown-toggle::after,
.has_mega_menu button.expander {
    display: none;
}

.eCommerce-side-menu.show-menu {
    width: 400px;
}

.iziModal-wrap img {
    height: auto;
}

.our-project.project-standard .container ul.isotop-menu-wrapper.pb-100 {
    padding-bottom: 0;
}

.theme-menu-one.fixed .header-right-widget {
    top: 20px;
}

.our-blog .single-blog-post.format-quote .post-data .title a blockquote {
    color: #fff;
}

.single-blog-post.format-quote .post-data .title a blockquote {
    margin: 0;
    padding: 0;
}

.theme-main-menu.fixed .logo img,
.theme-main-menu:not(.fixed) .logo img+img {
    display: none;
}

.theme-main-menu.fixed .logo img+img {
    display: block;
}